//////////////////////////////
// Ember Contact Form Imports
//////////////////////////////

// Globals
@import './globals/variables';
@import './globals/mixins';

// Extra Colors
$color-1: #2b3e51; // Pickled Bluewood
$color-2: #2c97de; // Curious Blue
$color-3: #ecf0f1; // Porcelain
$color-4: #ffffff; // White
$color-5: #e94b35; // Cinnabar

/* --------------------------------
Primary style
-------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-4;
  color: $color-1;
  font-family: $f-primary;
  font-size: 1.6rem;
}

a {
  color: $color-2;
  text-decoration: none;
}

h1 {
  color: $c-whiteish;
  font-size: 4rem;
  margin: 25px 0 50px 0;
}

.cd-form {
  @include clearfix;
  width: 90%;
  max-width: map-get($breakpoints, 'medium');
  background-color: $c-dark-blue;
  color: $c-whiteish;
  padding: 25px;
  margin: 4em auto;

  fieldset {
    margin: 24px 0;
  }

  // Form Element Wrapper
  div {
    position: relative;
    margin: 20px 0;

    @include bp(medium) {
      margin: 32px 0;
    }
  }

  h4,
  .cd-label {
    color: $c-whiteish;
    font-size: 1.3rem;
    margin-bottom: 10px;

    @include bp(medium) {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  .cd-label {
    display: block;
  }

  input,
  textarea,
  select,
  label {
    color: $c-whiteish;
    font-family: $f-primary;
    font-size: 1.6rem;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  select {
    display: block;
    width: 100%;
    appearance: none;

    @include bp(medium) {
      padding: 16px;
    }
  }

  // General Style for Input Elements
  input,
  textarea,
  select {
    background-color: $c-whiteish;
    padding: 12px;
    border: 1px solid darken($c-whiteish, 10%);
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(#000, .08);

    &:focus {
      outline: none;
      border-color: $color-2;
      box-shadow: 0 0 5px rgba($color-2, .2);
    }
  }

  // Select Element Wrapper
  .cd-select {
    position: relative;

    // Arrow Icon for Select Element
    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('../img/arrow.svg') no-repeat center center;
      margin-top: -8px;
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 50%;
      pointer-events: none;
    }
  }

  select {
    box-shadow: 0 1px 3px rgba(#000, .08);
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }

  .cd-form-list {
    margin-top: 16px;
    @include clearfix;
  }

  // Wrapper for radio and checkbox input types
  .cd-form-list li {
    float: left;
    display: inline-block;
    position: relative;
    user-select: none;
    margin: 0 26px 16px 0;
  }

  // Hide original check and radio buttons
  input[type=radio],
  input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    padding-left: 24px;
  }

  // Custom radio and check boxes
  input[type="radio"] + label::before,
  input[type="radio"] + label::after,
  input[type="checkbox"] + label::before,
  input[type="checkbox"] + label::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    position: absolute;
    left: 0;
    top: 50%;
  }

  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    background: $color-4;
    border: 1px solid darken($color-3, 10%);
    box-shadow: inset 0 1px 1px rgba(#000, .08);
  }

  input[type="radio"] + label::before,
  input[type="radio"] + label::after {
    border-radius: 50%;
  }

  input[type="checkbox"] + label::before,
  input[type="checkbox"] + label::after {
    border-radius: .25em;
  }

  input[type="radio"] + label::after,
  input[type="checkbox"] + label::after {
    display: none;
    background-color: $color-2;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba($color-2, .4);
  }

  // custom image for radio button
  input[type="radio"] + label::after {
    background-image: url('../img/radio.svg');
  }

  // custom image for checkbox
  input[type="checkbox"] + label::after {
    background-image: url('../img/check.svg');
  }

  // Add focus effect for radio and check buttons
  input[type="radio"]:focus + label::before,
  input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 5px rgba($color-2, .6);
  }

  input[type="radio"]:checked + label::after,
  input[type="checkbox"]:checked + label::after {
    display: block;
  }

  input[type="radio"]:checked + label::before,
  input[type="radio"]:checked + label::after,
  input[type="checkbox"]:checked + label::before,
  input[type="checkbox"]:checked + label::after {
    animation: cd-bounce .3s;
  }

  textarea {
    min-height: 200px;
    resize: vertical;
    overflow: auto;
  }

  // Button Style
  input[type="submit"] {
    @include font-smoothing;
    appearance: none;
    float: right;
    background: $color-2;
    color: $color-4;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    border-radius: .25em;
    cursor: pointer;

    &:hover {
      background: lighten($color-2, 5%);
    }

    &:focus {
      background: $color-1;
      outline: none;
    }

    &:active {
      transform: scale(.9);
    }
  }

  [required] {
    background: url('../img/required.svg') no-repeat top right;
  }

  .error-message p {
    @include font-smoothing;
    background: $color-5;
    color: $color-4;
    font-size: 1.4rem;
    text-align: center;
    padding: 16px;
    border-radius: .25em;
  }

  .error {
    border-color: $color-5 !important;
  }
}

@keyframes cd-bounce {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(.8);
  }
}

/* --------------------------------
Custom icons
-------------------------------- */

.cd-form {
  .icon input,
  .icon select,
  .icon textarea {
    padding-left: 54px !important;
  }

  .name {
    background: url('../img/user.svg') no-repeat 16px center;
  }

  [required].name {
    background: url('../img/user.svg') no-repeat 16px center,
    url('../img/required.svg') no-repeat top right;
  }

  .company {
    background: url('../img/company.svg') no-repeat 16px center;
  }

  [required].company {
    background: url('../img/company.svg') no-repeat 16px center,
    url('../img/required.svg') no-repeat top right;
  }

  .email {
    background: url('../img/email.svg') no-repeat 16px center;
  }

  [required].email {
    background: url('../img/email.svg') no-repeat 16px center,
    url('../img/required.svg') no-repeat top right;
  }

  .budget {
    background: url('../img/budget.svg') no-repeat 16px center;
  }

  .message {
    background: url('../img/message.svg') no-repeat 16px 16px;
  }

  [required].message {
    background: url('../img/message.svg') no-repeat 16px 16px,
    url('../img/required.svg') no-repeat top right;
  }
}

/* --------------------------------
FLoating labels
-------------------------------- */

.floating-labels {
  div {
    margin: 28px 0;
  }

  .cd-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.6rem;
    cursor: text;
    transition: top .2s,
                left .2s,
                font-size .2s;

    @include bp(medium) {
      top: 20px;
    }
  }

  .icon .cd-label {
    left: 56px;
  }

  // Move label out of the input field
  .cd-label.float {
    font-size: 1.2rem;
    top: -16px;
    left: 0 !important;
  }
}

.contact-item {
  width: 100%;
}
