// Ember Contact Form Map
$ecf: ();

// Import Addon Styles
@import 'ember-contact-form';

html {
  font-size: 100%;
}

body {
  background: $c-white;
  color: $c-pickled-bluewood;
  font-family: $f-primary;
}

a {
  color: $c-curious-blue;
  text-decoration: none;
}

h1 {
  color: $c-white;
  font-size: 2.5rem;
  margin: 25px 0 50px 0;
}

// This style is specific to the Github page, not to the form itself
// User will decide what margins it should have
.cd-form {
  margin: 4em auto;
}
