//////////////////////////////
// Ember Contact Form Variables
//////////////////////////////

// Colors
$c-brown: #62514F;
$c-cream: #F5F0E1;
$c-dark-blue: #354952;
$c-light-blue: #82B4BC;
$c-red: #E35746;
$c-whiteish: #DFE6E9;

// Font Stacks
$f-primary: 'Open Sans', sans-serif;
