{{#if isCheckbox}}
  {{input
  checked=checked
  classBinding="fieldName"
  id=fieldName
  name=name
  required=required
  type='checkbox'}}
{{/if}}

{{#if isRadio}}
  {{radio-button
  classBinding="fieldName"
  groupValue=groupValue
  name=name
  radioId=fieldName
  required=required
  value=fieldName}}
{{/if}}


<label for="{{id}}">{{labelText}}</label>
